.img-container-nav{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    /* border: 2px solid rgb(0, 255, 72); */
    width: 95%; 
    position: absolute;
}
.menu-h{
    height: 35px;
    width: 35px;
    top: 10px;
  }
  .logo1{
    width: 58px;
    height: 35px;
  }