.register{
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 540px;
    /* border: solid ; */
  }
  .minga-log{
    width: 180px;
    height: 50px;
  }
  .text-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .minga-log-container{
    display: flex;
    justify-content: center;
  }
  .welcome{
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 25px;
  }
  .discover{
    text-align: center;
    font-size: 12px;
  }
  .form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 9px;
  }
  fieldset{
    display: flex;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: solid 1px rgb(140, 137, 142);
  }
  legend{
    margin-left: 15px;
    font-size: 14px;
    color: #4338CA;
  }
  input{
    width: 250px;
    height: 25px;
    border: none;
    outline: none;
    margin-left: 35px;
    margin-right: 25px;
  }
  .notification-check{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(128, 126, 124);
    border: rgb(245, 239, 239);
    font-size: 14px;
    width:100%;
    height: 25px;
  }
  .check-box{
    width: 20px;
    height: 20px;
  }
  .sing-up{
    display: flex;
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    box-shadow:  5px 5px 4px #ebbb0d;
    background-color: #4338CA;
  }
  .sing-in-google{
    display: flex;
    color: rgb(96, 95, 95);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(190, 187, 187);
    width: 100%;
    height: 45px;
  }
  .link{
    text-decoration: none;
  }
  p{
    font-size: 12px;
  }
  img{
    width: 20px;
    height: 20px;
  }